*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 42.5%;
  }
}

:root {
  --font: "Myriad Pro", Arial, sans-serif;
  --bg-color: #f7f7f7;
  --color-green: #7bd26f;
  --color-white: #ffffff;
  --color-black: #000;
  --color-footer: #333333;
  --padding: 0 10rem;
  --padding-top: 10rem;
  --fade: #091407c8;
  --G-icon: rgb(206, 238, 201);
}

@font-face {
  font-family: "Myriad Pro";
  src: url("myriad-pro.woff2") format("woff2"),
    url("myriad-pro.woff") format("woff"); /* Older Browsers */
}

@media screen and (max-width: 1100px) {
  :root {
    --padding: 0 4rem;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --padding: 0 2rem;
  }
}

body {
  font-family: var(--font);
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  height: 100%;
  max-width: 200rem;
  width: 100%;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.bg-green {
  background-image: linear-gradient(
    to top,
    var(--color-green) 50%,
    transparent 50%
  );
}

.title-primary {
  font-size: 5rem;
  font-weight: 600;
  width: fit-content;
}

.title-secondary {
  color: #6c757d;
  font-size: 2rem;
  font-weight: bold;
  width: fit-content;
}

.link {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  background-color: var(--color-green);
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  align-items: end;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1100px) {
  .titles {
    padding: 0 0;
  }
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 2rem;

  @media screen and (max-width: 1200px) {
    & {
      flex-direction: column;
      align-items: start;
      gap: 3rem;

      a:nth-child(2) {
        align-self: center;
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10rem;
  padding: 2rem;
  margin-top: 5rem;

  @media screen and (max-width: 1000px) {
    & {
      grid-template-columns: 1fr;
      padding: 0rem;
      row-gap: 5rem;
    }
  }

  .info-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title-primary {
      font-size: 4rem;
    }

    p:nth-child(2) {
      font-size: 2rem;
      color: var(--color-black);
      opacity: 0.6;
    }
  }
}

.logo {
  height: 12.5rem;
  img {
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: var(--padding);
}

.menubarPage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 150rem;
  background-color: rgb(255, 255, 255);
  z-index: 11;
  padding-top: 2.5rem;

  transform: translateY(-40rem);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;

  .nav {
    padding: var(--padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &_links {
      list-style: none;
      gap: 3rem;
      display: flex;
      flex-direction: column;

      a {
        font-weight: bold;
        font-size: 4rem;
        text-decoration: none;
        color: var(--color-black);

        &:hover {
          background-image: linear-gradient(
            to top,
            var(--color-green) 50%,
            transparent 50%
          );
        }
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 3rem;
      margin: 0 auto;
      ul {
        list-style: none;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        p {
          font-weight: bold;
        }

        a {
          text-decoration: none;
          color: var(--color-black);
        }
      }
    }
  }
}

.showMenubarPage {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.overFlowHidden {
  overflow: hidden;
}

.cross-icon {
  font-size: 3rem;
  cursor: pointer;
}

.section1 {
  padding: 5rem 0 0 0;
  background-image: linear-gradient(
      to bottom,
      transparent 90%,
      var(--bg-color) 10%
    ),
    url(assets/G-icon.svg);
  position: relative;
  overflow-y: hidden;

  .title-primary {
    margin-bottom: 13rem;
    padding: var(--padding);
  }

  .menubar {
    font-size: 4rem;
    cursor: pointer;
  }

  .section1-img {
    display: flex;
    padding: 0rem 2rem;
    z-index: 2;
    img {
      margin-left: auto;
      width: 100rem;
      max-width: 100%;
      max-height: 60rem;
      object-fit: cover;
    }
  }
}

.section2 {
  width: 100%;
  background-color: var(--bg-color);
  padding: var(--padding);
  padding-top: var(--padding-top);
  padding-bottom: 5rem;

  .titles {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    align-items: end;
    padding: 0 5rem;
    margin-bottom: 5rem;
  }

  @media screen and (max-width: 1100px) {
    .titles {
      padding: 0 0;
    }
  }

  .header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    @media screen and (max-width: 1200px) {
      & {
        flex-direction: column;
        align-items: start;
        gap: 3rem;

        a:nth-child(2) {
          align-self: center;
        }
      }
    }
  }

  .slide-container {
    display: block;
    height: 60rem;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    &:hover .fade {
      opacity: 1;
    }

    .fade {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: var(--fade);
      text-align: center;
      gap: 1rem;
      opacity: 0;
      transition: 0.4s all ease;

      .title-primary {
        color: var(--color-white);
        font-size: 3.5rem;
        padding: 1rem;
      }
      .title-secondary {
        font-size: 2.5rem;
        font-weight: 400;
      }
    }
  }
}

.gallery {
  padding-top: var(--padding-top);
  width: 100%;
  .title-primary {
    font-size: 3rem;
    padding: var(--padding);
    margin-bottom: 5rem;
  }

  .wins-content {
    max-width: 100vw;
    overflow: hidden;
  }

  .scroller_inner {
    padding-block: 1rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }

  .wins-content[data-animated="true"] {
    overflow: hidden;

    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
  }
  .wins-content[data-animated="true"] .scroller_inner {
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 100s)
      var(--_animation-direction, forwards) linear infinite;
    width: max-content;
  }

  .wins-content[data-direction="right"] {
    --_animation-direction: reverse;
  }

  @keyframes scroll {
    to {
      transform: translateX(calc(-50% - 0.5rem));
    }
  }

  .form1 {
    display: grid;
    grid-template-columns: 22.1rem;
    grid-template-rows: 16.5rem 22.8rem;
    gap: 0.5rem;
  }

  .form2 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 22.1rem;
    grid-template-rows: 22.8rem 16.5rem;
  }

  .form1 div,
  .form2 div {
    background-color: var(--bg-color);
    border: 1px solid var(--color-green);
    border-radius: 5.77px;
    padding: 1rem;
  }

  .form1 div img,
  .form2 div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5.77px;
  }

  .wins-text {
    padding: 2.5rem;
  }
}

.section3 {
  padding: var(--padding);
  padding-top: var(--padding-top);
  padding-bottom: 5rem;
  width: 100%;

  .title-primary:nth-child(1) {
    font-size: 3rem;
  }

  .titles {
    align-items: start;
    padding: 0rem;

    p:nth-child(2) {
      padding-left: 5rem;
    }

    .link {
      background-color: transparent;
      padding-left: 10rem;
      font-weight: bold;
    }

    @media screen and (max-width: 1000px) {
      p:nth-child(2) {
        padding-left: 0;
      }

      .link {
        padding-left: 0;
      }
    }
  }

  .studios {
    width: 100%;
    background-color: var(--color-green);
    padding: 5rem;
    display: grid;
    row-gap: 4rem;
  }

  .header2 {
    margin: 0;
    .title-primary {
      font-size: 2rem;
      font-weight: 400;
    }

    .link {
      font-weight: bold;
    }
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem;
    margin: 0;
    gap: 3rem;

    @media screen and (max-width: 1000px) {
      & {
        grid-template-columns: 1fr;
      }
    }

    .title-primary {
      font-size: 2.5rem;
    }
  }
}

.footer {
  background-color: var(--color-footer);
  padding: var(--padding);
  padding-top: var(--padding-top);
  padding-bottom: 5rem;
  color: #ffffff;
  display: grid;
  row-gap: 3rem;

  .title-primary:nth-child(1) {
    font-size: 3rem;
  }

  .header2 {
    margin: 0;
    .title-primary {
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff86;
    }

    .link {
      font-weight: bold;
      padding: 2rem 3rem;
      background-color: var(--color-white);
      color: var(--color-black);
      border: 1px solid transparent;
      transition: 0.3s all ease;

      &:hover {
        background-color: transparent;
        border: 1px solid var(--color-white);
        color: var(--color-white);
      }
    }
  }

  .line {
    margin: 3rem 0;
    background-color: #ffffff44;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    font-size: 2rem;

    @media screen and (max-width: 800px) {
      & {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }
    }

    .link-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        text-decoration: none;
      }
    }

    .link-item:nth-child(1) {
      font-weight: bold;

      span:nth-child(1) {
        color: var(--color-green);
      }
    }
    .link-item:nth-child(3) {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        a {
          color: var(--color-white);
          opacity: 0.5;
        }
      }
    }
    .link-item:nth-child(4) {
      ul {
        display: flex;
        gap: 1rem;
        a {
          color: var(--color-white);
        }
      }
    }
  }
}
// ///////////////////////// WORKS PAGE ////////////////////////////////
.section1-works {
  background: url(assets/G-icon.svg);

  .titles {
    align-items: start;
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    flex-direction: row;
    justify-content: space-between;
    .title-primary {
      padding: 0;
      font-size: 4rem;
    }
  }

  @media screen and (max-width: 1000px) {
    .titles {
      grid-template-columns: 1fr;
      margin-bottom: 15rem;
    }

    .title-primary {
      padding: 0;
      margin-bottom: 0rem;
      font-size: 4rem;
    }
  }
}

.categories {
  padding: var(--padding);
  transform: translateY(-10rem);

  .categories-heading {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--color-green);

    li {
      padding-bottom: 1rem;
      padding: 1rem 2rem;
      cursor: pointer;
      border-bottom: 1px solid transparent;
    }

    .active-category {
      border-bottom: 1px solid var(--color-black);
    }
  }

  .hidden {
    display: none;
  }

  .works-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding-top: 3rem;

    img {
      width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    .works-gallery {
      grid-template-columns: 1fr;
    }
  }
}

// PROJECT-PAGE

.project-content {
  padding: var(--padding);
  padding-bottom: 5rem;

  .category {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 3rem;
  }

  .project-name {
    font-size: 7rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30rem;
    text-transform: uppercase;
  }

  .scope {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    p {
      color: #ffffff;
    }
    ul {
      list-style: none;
      text-transform: uppercase;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      color: #ffffff;
    }
  }
}

.section2-project {
  padding: var(--padding);
  padding-block: 5rem;
  display: grid;
  background-color: var(--bg-color);
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  img {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .section2-project {
    grid-template-columns: 1fr;
  }
}

// CONTACT PAGE

.section1-contact {
  background: url(assets/G-icon.svg);

  .titles {
    align-items: start;
    padding: var(--padding);

    .title-primary {
      padding: 0;
      font-size: 4rem;
    }
  }
}

.contact-us {
  margin: var(--padding);
  padding: 4rem;
  background-color: var(--color-green);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: translateY(-10rem);
  gap: 2rem;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li:nth-child(1) {
      font-size: 1.8rem;
      font-weight: bold;
    }

    li {
      font-size: 1.6rem;
    }

    .contact-icon {
      color: var(--color-black);
      font-size: 2.5rem;
    }

    .contact-icons {
      display: flex;
      // justify-content: space-between;
      gap: 1.5rem;
    }
  }
}

.contact-form {
  padding: var(--padding);
  transform: translateY(-5rem);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 500px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;

  input,
  textarea {
    border: none;
    outline: none;
    padding: 0.2rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.353);

    &:focus {
      border-bottom: 1px solid var(--color-green);
    }
  }
}

.form-btn {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
  align-items: center;
  cursor: pointer;
  padding: 1.5rem 7rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
  transition: 0.3s all ease;

  &:hover {
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    color: var(--color-white);
  }
}
